.cartHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartHeader h2 {
  text-transform: uppercase;
}

.btnFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cartTotal h4 {
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}