.modal { 
  width: 80vw;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(252, 249, 245);
  padding: 1rem;
}

.modal h4 {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}