.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartItemInfo {
  display: flex;
  align-items: center;
}

.cartItemInfo img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.changeAmount {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.changeAmount p {
  margin: 0rem;
}